body{
	font-size: 1.125rem;
	color: #707070;
	margin: 0 10%;
	max-width: 90%;
}
h1{
	font-size: 3rem;
	color: #212614;
	text-align: center;
}
h2{
	font-size: 1.5rem;
}
span{
	color: #b7832f;
}
img{
	width:100%;
}
.columns{
	display: flex;
	margin: 1em auto;
	justify-content: space-between;
	align-items: flex-start;
}

.col-bg{
	background: #212614;
	padding:0 1em;
}
.col-1{
	width: 20%;
	

}
.col-2{
	width: 45%;


}
.col-3{
	width: 70%;
	
}

@media (max-width: 600px){
	.columns{
	flex-direction: column;
	align-items: center;
	}
	.col-1, .col-2, .col-3{
	width: 100%;
	}
h1{
	
	font-size: 1.5rem;
}
}
	
}
